<mat-card>
    <mat-card-title>{{'legacyPage.title' | translate}}</mat-card-title>
    <mat-card-content>
        <div bp="grid vertical-center">   
        <blockquote bp="8">
            “You should never allow the defendant to be tried. Try someone else—the husband, the lover,
            the police or, if the case has social implications, society generally. But never the defendant.”
        </blockquote>

        <img bp="4" src="./../assets/images/legacy_1.jpg" alt="Percy Foreman">
        
        <img bp="12" src="./../assets/images/legacy_2.jpg" alt="In Courtroom">
        <img bp="6" src="./../assets/images/legacy_3.jpg" alt="Working In Bed">
        <img bp="6" src="./../assets/images/legacy_4.jpg" alt="In Bar">

        <blockquote bp="12">
            “For me, practicing law is the be-all and end-all. I don’t practice law to
            take vacations and play golf.”
        </blockquote>

        <img bp="12" src="./../assets/images/legacy_5.jpg">
        <img bp="6" src="./../assets/images/legacy_6.jpg">

        <blockquote bp="6">
            “I'm often asked why there is such a great variation among sentences imposed by Texas judges.
            I can only quote the Texas judge who was asked why a killer sometimes doesn't even get indicted and a cattle thief can get ten years.
            The judge answered: ‘A lot of fellows ought to be shot, but we don't have any cows that need stealing.’”
        </blockquote>
        
        <img bp="6" src="./../assets/images/legacy_7.jpg">
        <img bp="6" src="./../assets/images/legacy_8.jpg">
        
        <blockquote bp="12">
        “You don't approach a case with the philosophy of applying abstract justice-you go in to win.”
        </blockquote>

        <img bp="6" src="./../assets/images/legacy_9.jpg">
        <img bp="6" src="./../assets/images/legacy_10.jpg">
    
        <blockquote bp="8">
        “There’s a reason people say life begins at forty. It takes forty years of life experiences to know who you are, what your purpose is, how you fit in. But if you can find someone who’s much older than you who you can trust and who will hand you distilled knowledge so that you don’t have to go through what they did—well, then I will be that person for you.” 
        </blockquote>

        <img bp="4" src="./../assets/images/legacy_11.jpg">

        <img bp="12" src="./../assets/images/legacy_12.jpg">
        
        <img bp="4" src="./../assets/images/legacy_13.jpg">
        <img bp="4" src="./../assets/images/legacy_14.jpg">
        <img bp="4" src="./../assets/images/legacy_15.jpg">
        
        <img bp="12" src="./../assets/images/legacy_16.jpg">      
    </div>  
    </mat-card-content>
</mat-card>