<mat-card>
    <mat-card-title>Percy Foreman</mat-card-title>
    <mat-card-content>
        <img src="./../assets/images/legacy_1.jpg" alt="Percy Foreman">

        <div class="quote">
            “You should never allow the defendant to be tried. Try someone else—the husband, the lover,
            the police or, if the case has social implications, society generally. But never the defendant.”
        </div>
        
        <img src="./../assets/images/legacy_2.jpg" alt="In Courtroom">
        <img src="./../assets/images/legacy_3.jpg" alt="Working In Bed">
        <img src="./../assets/images/legacy_4.jpg" alt="In Bar">

        <div class="quote">
            “For me, practicing law is the be-all and end-all. I don’t practice law to
            take vacations and play golf.”
        </div>

        <img src="./../assets/images/legacy_5.jpg">
        <img src="./../assets/images/legacy_6.jpg">

        <div class="quote">
            “I'm often asked why there is such a great variation among sentences imposed by Texas judges.
            I can only quote the Texas judge who was asked why a killer sometimes doesn't even get indicted and a cattle thief can get ten years.
            The judge answered: ‘A lot of fellows ought to be shot, but we don't have any cows that need stealing.’”
        </div>
        
        <img src="./../assets/images/legacy_7.jpg">
        <img src="./../assets/images/legacy_8.jpg">
        
        <div class="quote">
        “You don't approach a case with the philosophy of applying abstract justice-you go in to win”
        </div>

        <img src="./../assets/images/legacy_9.jpg">
        <img src="./../assets/images/legacy_10.jpg">
        
        <img src="./../assets/images/legacy_11.jpg">
        <div class="quote">
        “There’s a reason people say life begins at forty. It takes forty years of life experiences to know who you are, what your purpose is, how you fit in. But if you can find someone who’s much older than you who you can trust and who will hand you distilled knowledge so that you don’t have to go through what they did—well, then I will be that person for you.” 
        </div>

        <img src="./../assets/images/legacy_12.jpg">
        
        <img src="./../assets/images/legacy_13.jpg">
        <img src="./../assets/images/legacy_14.jpg">
        <img src="./../assets/images/legacy_15.jpg">
        
        <img src="./../assets/images/legacy_16.jpg">        
    </mat-card-content>
</mat-card>