<mat-card>
    <mat-card-title bp="margin--sm">Attorneys</mat-card-title>
    <mat-card-content>
<div>
    <img bp="margin--sm" class="clickable" src="../../assets/images/attorney_mike_up.png" alt="Mike" (click)="navigateToAttorneyPage('mike')">
    <img bp="margin--sm" class="clickable" src="../../assets/images/attorney_michael_up.png" alt="Michael" (click)="navigateToAttorneyPage('michael')">
    <img bp="margin--sm" class="clickable" src="../../assets/images/profilepic_bryan.jpg" alt="Brian" (click)="navigateToAttorneyPage('bryan')">
</div>
</mat-card-content>
</mat-card>
