
<mat-card>
    <mat-card-title>
        Contact Us
    </mat-card-title>
    <mat-card-content>
        <div bp="flex">
            <div bp="fit">
                <div>300 Main Street, Third Floor</div>
                <div>Houston, Texas 77002</div>
                
                <div><strong>phone</strong> +1 (713) 655-9000</div>
                <div><strong>fax</strong> +1 (713) 655-1812</div>
                
                <div><a href="mailto:mdegeurin@foremandegeurin.com" style="font-variant:normal; text-transform:none;">Email us here</a></div>
                <div><a href="mailto:m2degeurin@foremandegeurin.com" style="font-variant:normal; text-transform:none; line-height: 10px;"> or here</a></div>
            </div>

            <div bp="fill horizontal-center margin-left">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.5323742057726!2d-95.36110049999999!3d29.762244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640bf2f8d773bc5%3A0x7eafaeea64a13ed6!2s300%20Main%20St%2C%20Houston%2C%20TX%2077002!5e0!3m2!1sen!2sus!4v1676855285101!5m2!1sen!2sus"
                    width="600" 
                    height="450" 
                    style="border:0;"
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </mat-card-content>
</mat-card>
    

    
    
