<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Law Offices of Foreman, DeGeurin &amp; DeGeurin</title>
    <link href="css/default.css" rel="stylesheet" type="text/css">
    <link rel="SHORTCUT ICON" href="images/favicon.ico"></head>
    
    
    <body>
    <div id="page">
    
    <div id="logo">
        <a href="index.html"><img src="images/logo_subpages.png"></a>
    </div>
    
    
    <div id="navigation">
        <ul>
        <li><a href="firm.html">firm overview</a></li>
        <li><a href="attorneys.html">attorneys</a></li>
        <li><a href="legacy.html">legacy</a></li>
        <li><a href="contact.html">contact us</a></li>
        </ul>	
    </div>
    
    
    <div id="menu">
        300 Main Street, Third Floor<br>
        Houston, Texas 77002<br><br>
        
        <strong>phone</strong> +1 (713) 655-9000<br>
        <strong>fax</strong> +1 (713) 655-1812<br><br>
        
        <a href="mailto:mdegeurin@foremandegeurin.com" style="font-variant:normal; text-transform:none;">Email us here</a><br>
        <a href="mailto:m2degeurin@foremandegeurin.com" style="font-variant:normal; text-transform:none; line-height: 10px;">or here</a>
    </div>
    
    
    <div id="title">
        Contact Us
    </div>
    
    
    <div id="content">
        <img src="images/map.jpg"><br>
        <a href="https://goo.gl/maps/EL4Zp" target="new" style="font-size:11px;">View Google Map</a>
        
    <p><br><br><br></p>    
    </div>
    
    
    
    
    
    
    
    
    
    </div>
    
    
    <script src="moz-extension://2334c461-6c9d-438e-83b1-42b3e9dc0058/js/app.js" type="text/javascript"></script></body></html>