
<mat-card>
    <mat-card-title>
        Contact Us
    </mat-card-title>
    <mat-card-content>
        <div id="menu">
            300 Main Street, Third Floor
            Houston, Texas 77002
            
            <strong>phone</strong> +1 (713) 655-9000
            <strong>fax</strong> +1 (713) 655-1812
            
            <a href="mailto:mdegeurin@foremandegeurin.com" style="font-variant:normal; text-transform:none;">Email us here</a>
            <a href="mailto:m2degeurin@foremandegeurin.com" style="font-variant:normal; text-transform:none; line-height: 10px;"> or here</a>
        </div>

        <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCc-Vvu1pfT9kBV42aMI9D0EyZrjj_6RVk&q=300+Main+Street,Houston+Texas">
        </iframe>
    </mat-card-content>
</mat-card>
    

    
    
