<mat-card>
    <mat-card-title>Firm Overview</mat-card-title>
    <mat-card-content bp='flex text-center'>
        <p>
            Our firm represents clients in sensitive matters nationally and internationally.
            Whether our client is an individual accused of a crime, a corporation that is the subject of a government investigation,
            or a person seeking to investigate a matter themselves, we provide legal services supported by years of experience.
            We have successfully handled a wide variety of disputed legal matters for our clients all around the globe. 
        </p>
        
        <img src="../../assets/images/firm_photo.jpg">
        <mat-divider bp="margin-top"></mat-divider>
        <h2 >Litigation</h2>
        <p>
            We represent clients in all courts throughout the State of Texas, as well as in Federal courts across the nation.
            With experience trying hundreds of jury trials, our firm knows how to prepare for and succeed in trial.
            Whether a client is facing a misdemeanor charge, or a sophisticated and complex lawsuit, our firm treats each case as a top priority.
            Every case is as important to us as it is to our clients.
        </p>

        <mat-divider></mat-divider>
        <h2>Government Investigations / Regulatory Actions</h2>
        <p>
            Our firm handles a wide range of government investigations and regulatory actions.
            We have represented corporations and their employees investigated by the Securities and Exchange Commission (SEC),
            and other government agencies.  We also have experience representing clients that have been placed on the Department of the Treasury,
            Office of Foreign Assets Control’s Specially Designated National list (OFAC’s SDN list).  In other cases, we advise clients before an
            investigation or any action by the government begins.
        </p>
        
        <mat-divider></mat-divider>
        <h2>International Legal Services</h2>
        <p>
            We handle local matters that have international components, as well as matters that arise abroad.
            Whether it is an extradition out of the United States that requires investigation or research in a foreign jurisdiction,
            or a client needs to obtain evidence abroad for a case brought here, we can help.  When the legal matter is completely outside of the US,
            we can locate the right legal representation in that foreign jurisdiction to meet our client’s needs.
        </p>
        
        <mat-divider></mat-divider>
        <h2>Providing Legal Solutions Worldwide</h2>
        <p>
            When litigation arises abroad, it is important to not only have the right attorneys in that foreign jurisdiction,
            but it is equally important to have lawyers at home that understand the effects that the litiation can have on your affairs here.
            We have years of experience working with attorneys in many different countries.  Through that international network of attorneys,
            we can help you find the right attorney for your specific needs abroad.  At the same time, we can help protect your interests in your local jurisdiction.
        </p>
    </mat-card-content>
</mat-card>

