<mat-card>
    <mat-card-title>{{'overviewPage.title' | translate}}</mat-card-title>
    <mat-card-content bp='flex text-center'>
        <p>
            {{'overviewPage.paragraph1' | translate}}
        </p>
        
        <img src="../../assets/images/firm_photo.jpg">
        <mat-divider bp="margin-top"></mat-divider>
        <h2 >{{'overviewPage.litigation' | translate}}</h2>
        <p>
            {{'overviewPage.litigationParagraph' | translate}}
        </p>

        <mat-divider></mat-divider>
        <h2>{{'overviewPage.govInvestigations' | translate}}</h2>
        <p>
            {{'overviewPage.govInvestigationsParagraph' | translate}}
        </p>
        
        <mat-divider></mat-divider>
        <h2>{{'overviewPage.international' | translate}}</h2>
        <p>
            {{'overviewPage.internationalParagraph' | translate}}
        </p>
        
        <mat-divider></mat-divider>
        <h2>{{'overviewPage.worldWide' | translate}}</h2>
        <p>
            {{'overviewPage.worldWideParagraph' | translate}}
        </p>
    </mat-card-content>
</mat-card>

