  <div class="title-header" bp="flex vertical-center">
  <div bp="fill margin">
    <h1><span class="uppercase">Law Offices Of</span> 
      <div class="text-large indent">Foreman, Degeurin &amp; Degeurin</div>
    </h1>
  </div>
  
  
  <div bp="fit" id="photos">
    <img src="assets/images/home_photos.jpg">
  </div>
</div>
  
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let tab of tabValues" (click)="tabIndexChange(tab)" [active]="activeTab.value === tab">{{tabNames[tab]}}</a>
  </nav>
  
  <mat-tab-nav-panel #tabPanel>
  <div class="tab-content" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
 <footer>
    300 Main Street, Third Floor, Houston, TX 77002 | phone +1 (713) 655-9000 | fax +1 (713) 655-1812
  
    <a href="spanish/index.html">Ver este sitio web en Español</a>
</footer>