  <div bp="flex vertical-center"></div>
  <div bp="fit" id="logo">
    <img src="assets/images/logo_home.png">
  </div>
  
  
  <div bp="fit" id="photos">
    <img src="assets/images/home_photos.jpg">
  </div>
  
  <mat-tab-group [selectedIndex]="activeTab.value" (selectedIndexChange)="tabIndexChange($event)">
    <mat-tab *ngFor="let tab of tabValues" [label]="tabNames[tab]"></mat-tab>
  </mat-tab-group>

  <div class="margin-bottom--lg" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
 <footer>
    300 Main Street, Third Floor, Houston, TX 77002 | phone +1 (713) 655-9000 | fax +1 (713) 655-1812
  
    <a href="spanish/index.html">Ver este sitio web en Español</a>
</footer>