// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import "~bootstrap/dist/css/bootstrap.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #F0F3F1;

}

mat-card {
  margin: auto;
  background-color: #F6F9F7;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: .5em;
  margin-right: .5em;
}

h1, h2, mat-card-title {
  color: #A6714D;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

h2 {
  margin-bottom: 8px !important;
  margin-top: 16px !important;
}

mat-card-title {
  font-size: 25px !important;
  margin-left: 12px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

mat-card-content {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.uppercase {
  text-transform: uppercase;
}

.indent {
  padding-left: 50px;
}

.text-large {
  font-size: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  max-height: auto;
}

p, blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
  font-size: 17px;
  color: #00201e;
  text-align: justify;
}

.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}